#ignore hidden files except git and github
/.*
!/.github
!/.git
!/.gitignore
build_config

#UI builds
source/patchbay/ui/*.py

#resources qt build
build_config
source/patchbay/resources_rc.py

source/patchbay/.*
source/patchbay/*/.*

#translations
/locale/*.qm

#python cache
source/patchbay/__pycache__/
source/patchbay/*/__pycache__/
source/patchbay/*/*/__pycache__/
source/patshared/__pycache__/
source/patch_engine/__pycache__/
resources/resources_rc.py
